@import "tailwindcss";
@plugin "@iconify/tailwind4";

/* NAV RULES */
#sidebar > div{
    margin: .4em 0;
}

/* OTHER RULES */
#overlay
{
    opacity: .5;
}

ul > li
{
    text-indent: -1.5em;
    padding-left: 2em;
}